{% extends "/unit3/base.html" %}
{% block content %}
<head>
  <title>Unit 3 Ascii Chan</title>
</head>
<body>
  <h1>/ascii/</h1>
  <form method="post">
    <label>
      <div>Title</div>
      <input type="text" name="title" value="{{title}}">
    </label>
    <label>
        <div>Art</div>
        <textarea name="art">{{art}}</textarea>
    </label>
    <br>
    <input type="submit">
  </form>
  <br>
  <div class="error">{{error}}</div>
  <br>
  {% if img_url %}
    <img src="{{img_url}}">
  {% endif %}
  <hr>
  <div>
    <h2>Artwork</h2>
    <div>
      {% for art in arts %}
      <div class="art">
        <div class="art-title">{{art.title}}</div>
        <pre class="art-work">{{art.art}}</pre>
      </div>
      <br>
      <br>
      {% endfor %}
  </div>
</body>
{% endblock %}