{% extends "base.html" %}
{% block content %}
<head>
  <title>Unit 2 Fizzbuzz</title>
</head>
<body>
  <ul>
    {% set fizz = 3 %}
    {% set buzz = 5 %}
    {% for x in range(1, n) %}
      {% set fizzBool = (x % fizz) == 0 %}
      {% set fizzScore = fizzBool * fizz %}
      {% set buzzBool = (x % buzz) == 0 %}
      {% set buzzScore = buzzBool * buzz %}
      {% set total = fizzScore + buzzScore %}
      <li>
        {% if total == 0 %}
          {{x}}
        {% else %}
          {% if total == 8 %}
            FizzBuzz
            {% else %}
              {% if total == fizz %}
                Fizz
              {% else %}
                Buzz
              {% endif %}
          {% endif %}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</body>
{% endblock %}