<form>
  <label>
    Month
    <input name="month">
  </label>
  <label>
    Day
    <input name="day">
  </label>
  <label>
    Year
    <input name="year">
  </label>
  <br>
  <br>
  <input type="submit">
</form>