<!DOCTYPE html>

<html>
  <head>
    <title>Unit 3</title>
    <link rel="stylesheet" type="text/css" href="./css/main.css"> 
  </head>
  <body style="margin:0">
    <h1 style="background-color: #ddd; color: #888; margin:0 height: 50px">
      Unit 3
    </h1>
    {% block content %}
    {% endblock %}
  </body>
</html>