<!DOCTYPE html>

<html>
  <head>
    <title>Templates</title>
  </head>
  <body style="margin:0">
    <h1 style="background-color: #ddd; color: #888; margin:0 height: 50px">
      Templates
    </h1>
    {% block content %}
    {% endblock %}
  </body>
</html>