{% extends "base.html" %}
{% block content %}
<form>
  <h2> Add a Food</h2>
  <input type="text" name="food">
  {% if items %}
    {% for itm in items %}
      <input type="hidden" name="food" value="{{itm}}">
    {% endfor %}
  {% endif %}
  <button>Add</button>
  {% if items %}
  <br>
  <br>
    <h2>Shopping List</h2>
    <ul>
      {% for itm in items %}
        <li>{{itm}}</li>
      {% endfor %}
    </ul>
  {% endif %}
</form>
{% endblock %}

