<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css"> 
    <title>Blog</title>
  </head>
  <body>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>