{% extends "/blog/base.html" %}

{% block content %}
<head>
  <title>Blog</title>
</head>
<body>
  <h1>Blog</h1>
  <hr>
  <div>
    {% for p in posts %}
      {{ p.render() | safe }}
      <br>
      <br>
    {% endfor %}
  </div>
  <br>
  <div>
    Queried {{time_since}} seconds ago
  </div>
</body>
{% endblock %}