{% extends "/unit3/base.html" %}

{% block content %}
  <h2>Add a Post</h2>
    <form method="post">
      <label>
        <div>subject</div>
        <input type="text" name="subject" value="{{subject}}">
      </label>

      <label>
        <div>blog</div>
        <textarea name="content">{{content}}</textarea>
      </label>
      <br>
      <input type="submit">
      <br>
      <div class="error">{{error}}</div>
    </form>
{% endblock %}