{% extends "/blog/base.html" %}

{% block content %}

<head>
    <title>/blog/</title>
</head>
<body>
    <h1>/blog/</h1>
    <hr>
    {% for post in posts %}
        <div class="post">
            <div class="post-subject">{{post.subject}}</div>
            <pre class="post-body">{{post.body}}</pre>
        </div>
    {% endfor %}
</body>

{% endblock %}