{% extends "/wiki/base.html" %}
{% block content %}
    <form method="post">
        <textarea name="wiki_content">{{wiki_content}}</textarea>
        <br>
        <input type="submit">
    </form>
    <br>
    <div>
        Queried {{time_since}} seconds ago
    </div>
{% endblock %}