<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css"> 
    <title>Wiki</title>
  </head>
  <body>
    <div>
        <a href="{{edit_link}}">edit</a>
        <a href="">history</a>
        <a href="">logout</a>
    </div>
    <br>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>