{% extends "/wiki/base.html" %}
{% block content %}
<head>
  <title>Edit History</title>
</head>
<body>
    <div>
      {% for edit in edits %}
      <div class="wiki">
        <div class="wiki-created">{{wiki.created}}</div>
        <div class="wiki-subject">{{wiki.subject}}</div>
      </div>
      {% endfor %}
    </div>
</body>
{% endblock %}